.flashFallbackButton{text-align:center}
.sp_T2aSgf-j3rj{background-image:url(/rsrc.php/v3/yn/r/rbLSXRBjX9p.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_T2aSgf-j3rj.sx_cdbddc{background-position:0 0}.sp_T2aSgf-j3rj.sx_3ae6a8{width:16px;height:16px;background-position:0 -21px}

#bootloader_ZBlqe{height:42px;}.bootloader_ZBlqe{display:block!important;}